# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Production builds
dist/
build/

# Environment files
.env
.env.local
server/.env
client/.env

# System & IDE files
.DS_Store
.vscode/
*.log